{% extends "base.html" %}
{% block title %}Main{% endblock %}

{% block main %}

<div class="container-fluid" style="padding-left: 0px">
	<div class="row-fluid">
	<div class="span12" id="maincol">
		
    	<h1>Questions</h1>
    		<hr>
			{%	for question in questions	%}
				<div class="question_box">
					<div class="row-fluid">
						<div class="span2">
							<img src="/uploads/avc.jpg" width="70" height="70" style="margin: 10px" class="img-rounded">
							<div class="row-fluid">
								<div style="margin: 5px">
									<span class="like_box">111</span>
									<span style="float:right;">
									<i class="icon-thumbs-up"></i>
									<i class="icon-thumbs-down"></i>
									</span>
								</div>
							</div>
						</div>
					
						<div class="span10">
							<div class="row-fluid" style="margin: 5px; margin-left: 0px">
								<a href="" class="question_name">
									{{question.title}}
								</a>
							</div>
							<div class="row-fluid">
								<span>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex...
								</span>
							</div>
							<hr style="margin: 5px">
							<div class="row-fluid">
								{{question.created}}
							</div>
							<div class="row-fluid">
								<a href="/question/10" style="margin-right: 15px">Answers(10)</a>
								Tags: <a href="">{% for tag in question.tags %} {{tag}} {% endfor %}</a>
							</div>
						</div>
					</div>
				</div>
				<hr>
			{%	endfor	%}

			<div class="pagination pagination-centered">
    			<ul>
    				<li><a href="#">Prev</a></li>
    				<li><a href="#">1</a></li>
    				<li><a href="#">2</a></li>
    				<li><a href="#">3</a></li>
    				<li><a href="#">4</a></li>
    				<li><a href="#">5</a></li>
    				<li><a href="#">Next</a></li>
    			</ul>
    		</div>
	</div>
	</div>
</div>

{% endblock %}